<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="header-page-wrap">
      <header class="header-page">
        <div class="nav" ng-controller="signinupChngCtrl">
          <img src="/images/signInicon.png" alt="Sign in" class="signinimg">
          <a ng-click="setLocation('/signin')" class="Signinbtn">Sign In</a>
          <a ng-click="setLocation('/signup')" class="Signoutbtn">Sign Out</a>
        </div>
      </header>
    </div>
    <div class="brand-container">
      <a ng-click="setLocation('/')" class="brand">
        <img src="images/brand.png" alt="brand">
      </a>
      <div class="cta">
        <div class="cta-text">CALL US FREE</div>
        <a href="#" class="cta-phone">TOLL FREE - 18 00 298 298 </a>
      </div>
    </div>
    <div class="ng-view"></div>
    <div class="content1">
      <div class="leftcontent">
        <h2 class="content1-title">BANGALORE’S FIRST SMART TOWNSHIP.<br />NOW READY TO WELCOME YOU.</h2>
        <p class="content1p">Brigade Orchards is a smartly conceived and well 
            laid out integrated township that is just ten minutes 
            from Bangalore’s International Airport. This 130 
            acre township has been designed with sustainability
             and your comfort in mind. Brigade Orchards matches
             the highest of international standards by adhering to
             global best practices. 
        </p>
      </div>
      <div class="righcontent">
        <h2 class="rightnavtitle">Live Your Dream Home</h2>
        <nav class="column-side-nav">
          <ul class="csnul">
            <li class="csnli">Appartment</li>
            <li class="csnli">Independent House</li>
            <li class="csnli">Plot</li>
            <li class="csnli">Villa</li>
            <li class="csnli">Farm House</li>
          </ul>
        </nav>
      </div>
    </div>
    <p class="content-tags">Welcome to smarter living. At Brigade Orchards Smart Township.</p>
    <img src="images/clients.png" alt="clients" class="clients">
    <div class="contactus-wrap">
      <div class="contactus">
        <div class="contactusleft">
          <img src="images/contactusbg.png" alt="contactus">
          <form action="">
            <input type="text" name="Name" id="" Placeholder="Name" class="txtname">
            <input type="text" name="phone" id="" Placeholder="Phone" class="txtphone">
            <input type="text" name="email" id="" Placeholder="Email" class="txtemail">
            <input type="submit"  class="contactusbtn">
          </form>
        </div>
        <div class="contactusright">
          <img src="/images/adds.png" alt="add">
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copy right Protected by hgrabhouse.pvt.ltd<br />All right reserved to the company.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    <script type="text/javascript" src="/controller/mainApp.js"></script>
    <script type="text/javascript" src="/controller/mainController.js"></script>
    <script type="text/javascript" src="/controller/signInUpController.js"></script>
    <script type="text/javascript" src="/controller/propertyController.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
  </body>
</html>