<div ng-controller="searchResultCtrl">
<div class="mainsearchresult signinformtable ">
	<div class="addresstitle">Search Result for : {{locationResult}}</div><div style="float:right"><a ng-click="bidUrl()">Biding</a></div>
	<div class="resultcontainer">
		<nav >
			<ul class="rsui">
				<li class="rsli" ng-repeat="result in results">
					<img src="/images/appartment.jpg" alt="appartment" class="srimage">
					<div class="details">
						<table cellpadding="10" cellspacing="10">
							<tr>
								<td>Type</td><td>{{result.purchaseType}}</td>
							</tr>
							<tr>
								<td>Property</td><td>{{result.propertyType}}</td>
							</tr>
							<tr>
								<td>House Type</td><td>{{result.houseType}}</td>
							</tr>
							<tr>
								<td>Bid Start </td><td>{{result.bidStartFare}}INR</td>
							</tr>
						</table>
						<div class="rscontent">
						<p class="ofacility">Other Facility</p>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Balcony</td><td>{{result.facilitys.balcony}}</td>
									<td ><input id="{{result._id}}" class="selectbtn" type="submit" ng-click="generateUniqueId(result._id,result.bidEndTime,result.bidDate,result.email)" value="Select Me"/></td>
								</tr>
								<tr>
									<td>Parking</td><td>{{result.facilitys.parking}}</td>
								</tr>
								<tr>
									<td>Area</td><td>{{result.areaInFt}}sqft.</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				
			</ul>
		</nav>
	</div>
</div>

</div>