<div ng-controller="searchResultCtrl">
<div class="mainsearchresult">
	<div class="addresstitle">Search Result for : Madiwala</div>
	<div class="resultcontainer">
		<nav >
			<ul class="rsui">
				<li class="rsli">
					<img src="/images/appartment.jpg" alt="appartment" class="srimage">
					<div class="details">
						<table cellpadding="10" cellspacing="10">
							<tr>
								<td>Type</td><td>Rent</td>
							</tr>
							<tr>
								<td>Property</td><td>Appartment</td>
							</tr>
							<tr>
								<td>House Type</td><td>1BHK</td>
							</tr>
							<tr>
								<td>Bid Start @</td><td>10,000 INR</td>
							</tr>
						</table>
						<div class="rscontent">
						<p class="ofacility">Other Facility</p>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Balcony</td><td>Yes</td>
									<td ><input id="_ID" class="selectbtn" type="submit" value="Select Me"/></td>
								</tr>
								<tr>
									<td>Parking</td><td>No</td>
								</tr>
								<tr>
									<td>Area</td><td>1200 ft.</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="togglecontent" style="display:none">
							<h2 class="tctittle">Bid Status</h2>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Min Bid</td><td>15,000</td>
								</tr>
								<tr>
									<td>Bid Date</td><td>29-Dec-2015</td>
								</tr>
								<tr>
									<td>Starting Date</td><td>09-Dec-2015</td>
								</tr>
								<tr>
									<td>Closing Date</td><td>1-Dec-2015</td>
								</tr>
							</table>
							<input type="checkbox">Please confirm after reading the <a href="#">Terms and Conditions</a><input type="submit" Value="Confirm" class="confirmbtn">
						</div>
				</li>
				<li class="rsli">
					<img src="/images/appartment.jpg" alt="appartment" class="srimage">
					<div class="details">
						<table cellpadding="10" cellspacing="10">
							<tr>
								<td>Type</td><td>Rent</td>
							</tr>
							<tr>
								<td>Property</td><td>Appartment</td>
							</tr>
							<tr>
								<td>House Type</td><td>1BHK</td>
							</tr>
							<tr>
								<td>Bid Start @</td><td>10,000 INR</td>
							</tr>
						</table>
						<div class="rscontent">
						<p class="ofacility">Other Facility</p>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Balcony</td><td>Yes</td>
									<td class="selectbtn">Select</td>
								</tr>
								<tr>
									<td>Parking</td><td>No</td>
								</tr>
								<tr>
									<td>Area</td><td>1200 ft.</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				<li class="rsli">
					<img src="/images/appartment.jpg" alt="appartment" class="srimage">
					<div class="details">
						<table cellpadding="10" cellspacing="10">
							<tr>
								<td>Type</td><td>Rent</td>
							</tr>
							<tr>
								<td>Property</td><td>Appartment</td>
							</tr>
							<tr>
								<td>House Type</td><td>1BHK</td>
							</tr>
							<tr>
								<td>Bid Start @</td><td>10,000 INR</td>
							</tr>
						</table>
						<div class="rscontent">
						<p class="ofacility">Other Facility</p>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Balcony</td><td>Yes</td>
									<td class="selectbtn">Select</td>
								</tr>
								<tr>
									<td>Parking</td><td>No</td>
								</tr>
								<tr>
									<td>Area</td><td>1200 ft.</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				<li class="rsli">
					<img src="/images/appartment.jpg" alt="appartment" class="srimage">
					<div class="details">
						<table cellpadding="10" cellspacing="10">
							<tr>
								<td>Type</td><td>Rent</td>
							</tr>
							<tr>
								<td>Property</td><td>Appartment</td>
							</tr>
							<tr>
								<td>House Type</td><td>1BHK</td>
							</tr>
							<tr>
								<td>Bid Start @</td><td>10,000 INR</td>
							</tr>
						</table>
						<div class="rscontent">
						<p class="ofacility">Other Facility</p>
							<table cellpadding="10" cellspacing="10">
								<tr>
									<td>Balcony</td><td>Yes</td>
									<td class="selectbtn">Select</td>
								</tr>
								<tr>
									<td>Parking</td><td>No</td>
								</tr>
								<tr>
									<td>Area</td><td>1200 ft.</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>

</div>