 <div ng-controller="signinCtrl">
 <form ng-submit="signInForm(userData)">
 	<input type="radio" name="stype" value="buyer" ng-model="usrType"/>Want To Buy
    <input type="radio" name="stype" value="seller" ng-model="usrType"/>Want To Sell<br/>
     UserName : <input type="text" ng-model="uName"/><br/>
     Password : <input type="password" ng-model="uPwd"/><br/>
     <input type="submit" value="SignIn" />
  </form>
 </div>