 <div ng-controller="signinCtrl">
     UserName : <input type="text" ng-model="uName"/><br/>
     Password : <input type="password" ng-model="uPwd"/><br/>
     <input type="submit" value="SignIn" />
 </div>