<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AppLift</title>
        <link rel="stylesheet" type="text/css" href="css/map.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="headernavwrap">
            <div class="nav-container">
                <nav>
                    <ul>
                        <li>
                            <a href="/" class="navlink">Home</a>
                            <a href="aboutus.html" class="navlink">About Us</a>
                            <a href="contactus.html" class="navlink">Contact Us</a>
                            <a href="help.html" class="navlink">Help</a>
                        </li>
                    </ul>
                </nav>       
            </div>  
        </div>
        <div class="brand"><img src="\images\branddivmap.jpg" alt=""></div>
        <div class="banner-wrap">
            <%include map %>
        </div>
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script async src="https://maps.googleapis.com/maps/api/js?&libraries=visualization&callback=initMap"></script>
        <script type="text/javascript" src="js/applift.js"></script>
    </body>
</html>
<script>